body {
  font-family: "Helvetica Neue", helvetica, arial, sans-serif;
  display: flex;
  justify-content: center;
  margin: 0 10px;
}

main {
  min-width: 300px;
}

.slider_container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.slider_container *:first-child {
  padding-right: 10px;
}

.slider_container *:last-child {
  padding-left: 10px;
}