body {
  font-family: "Helvetica Neue", helvetica, arial, sans-serif;
  display: flex;
  justify-content: center;
  margin: 0 10px;
}

main {
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons {
  margin: 10px 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

mwc-fab {
  position: absolute;
  right: 50px;
  bottom: 50px;
}

.slider_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  mwc-icon:first-child {
    padding-right: 10px;
    flex: 0 1 auto;
  }
  mwc-slider {
    flex: 1 1 auto;
  }
  mwc-icon:last-child {
    padding-left: 10px;
    flex: 0 1 auto;
  }
}