@use '@material/slider/mdc-slider';
@use '@material/select/mdc-select';
@use '@material/button/mdc-button';
@use '@material/list/mdc-list';
@use '@material/menu/mdc-menu';
@use '@material/menu-surface/mdc-menu-surface';
@use '@material/line-ripple/mdc-line-ripple';

body {
  font-family: "Helvetica Neue", helvetica, arial, sans-serif;
  display: flex;
  justify-content: center;
  margin: 0 10px;
}

main {
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  > * {
    padding: 5px 0;
  }
}

.slider_container {
  display: flex;
  align-items: center;
  width: 100%;
}

.slider_container *:first-child {
  padding-right: 10px;
}

.slider_container *:last-child {
  padding-left: 10px;
}